<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title></title>
     <!-- 开发环境中 -->
     <% if (process.env.NODE_ENV === "development") { %>
      <script src="/static/config/config.js"></script>
    <% } else {%>
      <script src="/weixin3.0/static/config/config.js"></script>
    <% } %>
    <!-- 生产环境中 -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
